fastapi
uvicorn[standard]
pydantic[email]
pydantic-settings
google-genai
passlib[bcrypt]
PyJWT[crypto]
python-multipart
firebase-admin
google-cloud-firestore>=2.16.0,<2.20.0
google-cloud-storage
ruff
pytest
pytest-asyncio
freezegun
httpx
redis
pre-commit
